{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}" class="text-start">
        {% csrf_token %}
        {{ redirect_field }}
        {% if form.non_field_errors %}
            <div class="alert alert-danger small">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn btn-primary w-100 py-2 mt-2">
            {% trans 'Set Password' %}
        </button>
    </form>
{% endblock content %}
