{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock page_header %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6">
                <h1 class="display-4 logo-font text-black">View all Play and Pamper Services</h1>
                <div class="my-6">
                    <h4>
                        <a href="" class="browse-now-button btn btn-lg text-uppercase py-3">Browse Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
